/* ============================== */
/* == COLORS ==================== */
/* ============================== */
$light-grey: #F2F2F2;

/* ============================== */
/* == CONFIGS =================== */
/* ============================== */


/* ============================== */
/* == DIMENSIONS ================ */
/* ============================== */
/* ===================== */
/* === Media Queries === */
/* ===================== */
// when changing this value make sure to change it in navigation.js
$media-breakpoint: 768px;
$media-query: "(max-width: 768px)";

/* =============== */
/* === General === */
/* =============== */

/* ============================== */
/* == FONTS ===================== */
/* ============================== */
$font-roboto: 'Roboto', Arial, sans-serif;